<h1 class="text-primary">
  Lista de Super Héroes
  <button (click)="logout()">Cerrar Sesión</button>
</h1>
<div *ngIf="info"><!-- para que no salga error de que aun no existe -->
    <h3>
        Perfil: {{ info.user.email }}
    </h3>
    <h3>
        Héroe: {{ info.name }}
    </h3>
    <h3>
        Compañia: {{ info.company.description }}
    </h3>
    <h2>
        <a routerLink="/profile">Atacar</a>
    </h2>
</div>
<hr />
<table id="table-heros" class="table table-striped">
  <thead>
      <th>
          Foto
      </th>
      <th>
          Super Héroe
      </th>
      <th>
          Actor
      </th>
      <th>
          País
      </th>
      <th>
          Teléfono
      </th>
  </thead>
  <tbody id="row-heros">
      <tr *ngIf="loading">
          <td colspan="5">
              <h3>
                  Cargando información
              </h3>
          </td>               
      </tr>
      <tr *ngFor="let hero of heros; index as i">
        <td>  
            <img class="img-lista" [src]="'http://127.0.0.1:8000' + hero.image" alt="">                              
        </td>
        <td>
            {{ hero.id }} - {{ hero.name }}
        </td>
        <td>
            {{ hero.actor }}
        </td>
        <td>
            {{ hero.nation }}
        </td>        
      </tr>
  </tbody>
</table>

