<h1 class="text-primary">
  Lista de Super Héroes
  <button (click)="logout()">Cerrar Sesión</button>
</h1>
<table id="table-heros" class="table table-striped">
  <thead>
      <th>
          Foto
      </th>
      <th>
          Super Héroe
      </th>
      <th>
          Actor
      </th>
      <th>
          País
      </th>
      <th>
          Teléfono
      </th>
  </thead>
  <tbody id="row-heros">
      <tr *ngIf="loading">
          <td colspan="5">
              <h3>
                  Cargando información
              </h3>
          </td>               
      </tr>
      <tr *ngFor="let hero of heros; index as i">
        <td>  
            <img class="img-lista" [src]="hero.image" alt="">                              
        </td>
        <td>
            {{ hero.hero_name }}
        </td>
        <td>
            {{ hero.actor_name }}
        </td>
        <td>
            {{ hero.nation }}
        </td>
        <td>
            {{ hero.cell_phone }}
        </td>
      </tr>
  </tbody>
</table>
